<!DOCTYPE html>

<html lang="en-US">
    <title>SiliFood.</title>

    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link href="search.css" type="text/css" rel="stylesheet">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>


    <script language="javascript" type="text/javascript" src="/javascripts/SearchStyling.js"></script>

    <script language="javascript" type="text/javascript" src="/javascripts/profile.js"></script>
</head>

<!-- ng-init takes the user who's profile page this is -->
<body id="main" ng-app="myApp" ng-controller="LoadProfileInformationController" ng-init="username='<%=username%>'">
    <!-- Top Horizontal Main Menu -->
    <div class="ui fixed inverted main menu" id="top-menu" style="background-color: rgb(50, 24, 126)">
        <a class="item">
            <i class="home icon"></i>
            SiliFood.
        </a>
        <a class="item" data-toggle="modal" data-target="#Modal">
            <i class="add square icon"></i>
            Create a Recipe
        </a>
        <a class="item">
            <i class="write square icon"></i>
            Edit a Recipe
        </a>
        <a class="item">
            <i class="share icon"></i>
            Share a Recipe
        </a>
        <a class="item" href="/logout">
            <i class="sign out icon"></i>
            Sign Out
        </a>
        <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search..."/>
        </div>
    </div>
    <!-- End Main Menu -->

    <!--Modal for new recipe -->
    <div class="modal fade" id="Modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Please fill out the forms below</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="/database/newRecipe" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="ingredients">Ingredients:</label>
                            <input type="text" class="form-control" name="ingredients" id="ingredients">
                        </div>
                        <div class="form-group">
                            <label for="steps">Steps:</label>
                            <input type="text" class="form-control" name="steps" id="steps">
                        </div>
                        <input type="hidden" class="form-control" name="owner" id="username" value="<%=username%>"/>
                        <div class="form-group">
                            <label for="notes">Notes:</label>
                            <input type="text" class="form-control" name="notes" id="notes">
                        </div>
                        <div class="form-group">
                            <label for="image">Picture:</label>
                            <input type="file" class="form-control" name="image" id="image">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Grid -->
    <div class="ui grid" id="display-grid">
        <div class="ui five wide column">
            <div class="ui vertical fluid tabular menu">
                <!-- Left Side Menu (Personal Information and Picture) -->
                <div class="ui segment" id="profile-display" style="position: fixed; width: 30%"> <!-- Width of full screen -->
                    <div class="ui sticky">
                        <h2 id="profile-name">{{user.firstName + user.lastName}}</h2>
                        <img id="profile-picture" ng-src="/profileImage/{{user.username}}" height=325px width=325px></img>
                        <div id="profile-bio" class="column">
                            <div class="ui segment" id="bioScrollable"> <!-- style="width: 100%" -->
                              <h3 class="ui header">Follow {{user.firstName + user.lastName}}</h3>
                              <form action="/database/follow" method="post">
                                <input type="hidden" name="objId" ng-value="user.username">
                                <input type="submit">
                              </form>
                            </div>
                            <div class="ui segment" id="bioScrollable"> <!-- style="width: 100%" -->
                              <h3 class="ui header">Stop Following {{user.firstName + user.lastName}}</h3>
                              <form action="/database/unfollow" method="post">
                                <input type="hidden" name="objId" ng-value="user.username">
                                <input type="submit">
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Left Side Menu -->
            </div>
        </div>

        <!-- My Recipies Display -->
        <div class="ui eight wide column grid" id="information-display">
            <br/><br/>
            <!-- Start Top row -->
            <div class="row">
                <div class="twenty wide column">
                    <a class="item">
                        <h2 class="ui header">{{user.firstName + user.lastName}}'s Recipies</h2>
                    </a>
                </div>
            </div>
            <!-- End Top row -->
            <!-- Start My Recipies Column -->
            <div class="row" ng-repeat="rec in recipes">
    					<div class="twenty wide column">
    						<!-- Start Popup Section (Individual Recipe) -->
    						<div class="ui raised text compact piled container segment" style= "width : 100%">
    							<div class="ui horizontal segments">
    								<div class="ui segment" style="width : 35%">
    									 <img ng-src="/recipeImage/{{rec._id}}" height=100px width=100px></img>
    									<br>
    									<i class="star icon" ng-repeat='star in range(rec.rating)'></i>
    								</div>
    								<div class="ui segment" style="width : 65%">
    									<h3 style="color: black">
    										{{ rec.title }}
    									</h3>
    									<p>
    										{{ 'Notes: ' + rec.notes }}
    									</p>
    								</div>
    							</div>
    							<!-- Start Steps Section -->
    							<div class="ui segment" ng-repeat='steps in rec.steps'>
    								<p>"Step " + {{$index + 1}} + ": " + steps</p>
    							</div>
    							<!-- End Steps Section -->
    							<!-- Start Comments Segment -->
    							<div class="ui segment" style= "width : 100%" style="background-color: rgb(50, 24, 126)">
    								<!-- Horizontal Segment for each Comment -->

    								<!-- Start Comment -->
    								<div class="ui horizontal segments" ng-repeat="(username, comment) in rec.comments">
    									<!-- Profile Picture and Username in one segment to keep constant sizes -->
    									<div class="ui segment" style="width : 25%">
    										<img class="ui circular avatar image" ng-src="/profileImage/{{username}}"><span>{{ username }}</span>
    									</div>
    									<!-- User Comment Text in another segment to keep constant sizes -->
    									<div class="ui segment" style="width : 75%">
    										<div class="ui input" style= "width : 100%">
    											{{ comment }}
    										</div>
    									</div>
    								</div>
    								<!-- End Comment -->
    								<!-- Start Comment -->
                    <div class="ui horizontal segments">
                      <h5>Comment and Rate!</h5>
    									<!-- Profile Picture and Username in one segment to keep constant sizes -->
    									<div class="ui segment" style="width : 25%">
    										<img class="ui circular avatar image" ng-src="/profileImage/{{username}}"><span>{{ username }}</span>
    									</div>
    									<div class="ui segment" style="width : 75%">
    										<div class="ui input" style= "width : 100%">
                          <form role="form" method="post" action="/database/newComment">
                            <div class="form-group">
                              <input type="text" class="form-control" id="newComment" name="contents">
                              <input type="hidden" name="commenter" ng-value="username">
                              <input type="hidden" name="recipeId" ng-value="rec._id">
                              <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                          </form>
                          <label class="radio-inline"><input type="radio" ng-click='radioFunctionality(rec._id,1)' name="rating">1</input></label>
                          <label class="radio-inline"><input type="radio" ng-click='radioFunctionality(rec._id,1)' name="rating">2</input></label>
                          <label class="radio-inline"><input type="radio" ng-click='radioFunctionality(rec._id,1)' name="rating">3</input></label>
                          <label class="radio-inline"><input type="radio" ng-click='radioFunctionality(rec._id,1)' name="rating">4</input></label>
                          <label class="radio-inline"><input type="radio" ng-click='radioFunctionality(rec._id,1)' name="rating">5</input></label>
    										</div>
    									</div>
    								</div>
    								<!-- End Comment -->
    							</div>
    							<!-- End Comments Segment -->
    						</div>
    						<!-- End Popup Section (Individual Recipe) -->
    					</div>
    				</div>
        </div>
        <!-- End My Recipies Display -->
        <!-- Start Right Side Menu -->
        <div class="ui three wide column" style="position: fixed">
            <br/><br/>
            <div class="item">
                <h2 class="ui header">
                    {{user.firstName}}'s Followers
                </h2>
                <!-- SCROLL HERE (Scrollable results for followers) -->
                <div class="ui vertical segments" id="rightHandScrollable" ng-repeat="follower in user.followers">
                    <!-- http.get('/userById?x') -->
                    <!-- Repeat for each follower in this User's followers -->
                    <!-- On each iteration, the follower variable should change to the next user -->

                    <!-- <div ng-controller="userToFollowTag"> -->

                        <div class="ui horizontal segments">
                            <!-- Profile Picture and Username in one segment to keep constant sizes -->
                            <div class="ui segment" style="width : 25%">

                              <!-- put link on picture to be able to visit followers profile -->
                                <a ng-href="/otherProfile/?username={{ follower.username }}">
                                  <img class="ui circular avatar image" ng-src='/profileImage/{{follower.username}}'>
                                </a>

                            </div>
                            <!-- User Comment Text in another segment to keep constant sizes -->
                            <div class="ui segment" style="width : 75%">
                                <div class="ui input" style= "width : 100%">
                                    <p>{{follower.firstName + " " + follower.lastName}}</p>
                                </div>
                            </div>
                        </div>

                    <!-- </div> -->
                </div>
              </div>
              <div class="item">
                <!-- END SCROLL HERE -->
                <h2 class="ui header">
                    {{user.firstName}}'s Following
                </h2>
                <!-- SCROLL HERE -->
                <div class="ui vertical segments" id="rightHandScrollable">
                    <div class="ui horizontal segments" ng-repeat="following in user.followings">
                        <!-- Profile Picture and Username in one segment to keep constant sizes -->
                        <div class="ui segment" style="width : 25%">
                          <a ng-href="/otherProfile/?username={{ follower.username }}">
                            <img class="ui circular avatar image" ng-src='/profileImage/{{following.username}}'>
                          </a>
                        </div>
                        <!-- User Comment Text in another segment to keep constant sizes -->
                        <div class="ui segment" style="width : 75%">
                            <div class="ui input" style= "width : 100%">
                                {{following.firstName + following.lastName}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SCROLL HERE -->
            </div>
        </div>
        <!-- End Right Side Menu -->
    </div>
    <!-- End Grid -->
</body>
</html>
